/* Posicionamiento de los elementos principales de la estructura. */
header {
  /* Lo declaro solo a efectos de la práctica pero normalmente no es
    necesario especificarlo ya que es el valor por defecto. */
  position: static;
}

/* Nota de que sticky requiere que top esé dispuesto a la posición que queremos se adhiera, sino no hace efecto. */
nav {
  position: sticky;
  top: 0px;
  /* De normal es transparente y se observan los elementos que pasa por el. */
  background-color: white;
  /* Además hay que ponerle mayor prioridad de índice z para que no se quede por debajo de los demás elementos de la página. */
  z-index: 10;
}

/* Ponemos los elementos del menú en vertical */
nav>ul>li {
  display: inline;
}

/* Damos separación a los elementos del menú menos al último.
   Aunque no se notaría diferencia con respecto a no ponerlo
   lo que se evita es un margen de más a la derecha de todo
   el menú. */
nav>ul>li:not(:last-child) {
  padding-right: 25px;
}

/* Es un div que contiene section y aside, se ajusta como
   relative para poder alinear el aside a la misma altura
   que el section mediante absolute, sino se especifica un
   posicionamiento distinto a static que es el de por
   defecto se colocaría en el contenedor anterior que tenga
   una posición distinta a static */
#section-y-aside {
  position: relative;
  border: 1px solid black;
}

section {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  border: 1px solid blue;
}

/* Se va alineará con el section porque el div que contiene
   a ambos le he dado un position relative, de forma que absolute
   hace que el posicionado de aside sea relativo a este mismo.
   Sino sería respecto del primer ancentro que tenga una propiedad
   distinta de la de por defecto, es decir static. */
aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 18%;
  border: 1px solid red;
  background-color: cadetblue;
  /* En vez de incluir mucho contenido en vertical, simplemente
     he hecho que el flujo del texto sea vertical. */
  writing-mode: vertical-lr;
  text-orientation: upright;
}

footer {
  position: sticky;
  bottom: 0px;
  border: 1px solid green;
  /* El dar color blanco es por lo mismo que el menú también sticky. */
  background-color: white;
}

/* Estilizar los encabezados de forma general */
h1,
h2,
h3 {
  font-family: Comfortaa, sans-serif;
}

/* Estilizar h1 */
h1 {
  text-decoration: underline double;
}

/* Estilizar h2 */
h2 {
  text-decoration: underline;
}

/* Estilizar h3 */
h3 {
  text-decoration: underline dotted;
}

/* Estilizar párrafos dentro de section directos e indirectos. */
section p {
  font-family: Cantarell, serif;
  text-indent: 2em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

/* Ajustar tamaño de imagen demasiado grande */
img#goku-developer {
  width: 200px;
}
